body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
}

/* Style for the header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Style for the navigation buttons */
#but1, #but2 {
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}

#but2 a {
    color: #fff;
}

/* Style for the main content container */
main {
    max-width: 800px;
    margin:  auto;
    padding: 20px;
}

.article {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    cursor: pointer;
    transition: transform 0.2s;
    max-width: 100%; 
}

/* Style for the sub-title */
.article h4 {
    margin-bottom: 10px;
    color: #333;
}

/* Style for the journalist name and date */
.article span {
    color: #777;
    font-size: 14px;
}

/* Style for the image and photographer */
.article figure {
    text-align: center;
    margin: 10px 0;
}

.article img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Style for the image caption */
.article figcaption {
    color: #777;
    font-size: 12px;
}

/* Style for the paragraph preview */
.article p {
    line-height: 1.5;
    margin-top: 10px;
}



/* Style for the list items within the article */
.article ul li {
    font-family: 'Times New Roman', Times, serif;
    margin: 8px 0;
    max-width: 100%; 
    word-wrap: break-word; /* Allow long words to break to the next line */
    white-space: normal; 
}

/* Style for the footer on the second page */

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    }


